header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--primary-color);
}

#site-title {
    text-decoration: none;
}

#site-title h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    color: var(--font-color);
}

#leaf-icon {
    color: var(--secondary-color);
}
