.manager-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: calc(100vh - 105px);
    background-color: var(--navbar-color);
    font-family: 'Poppins';
    font-size: 22px;
    position: sticky;
}

.manager-nav button {
    border-style: none;
    background-color: var(--navbar-color);
    font-family: 'Poppins';font-size: 30px;
    font-weight: 600;
    padding: 35px 0;
    transition: all 0.1s;
}

.manager-nav button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.manager-nav-active {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.manager-logout {
    align-self: center;
    margin-top: 20px;
}
